@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.header {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 18px;
  font-family: cursive;
}
a:visited {
  color: rgb(158, 196, 228);
}
a:hover {
  color:#0f0;
  text-decoration: underline;
}
a:active {
  color: #f4f4f4;
}
#header {
  background-color: #333;
  color: #f4f4f4;
}
#logo {
  float: left;
}
#logo span {
  color: #0f0;
}
#nav-bar .active {
  color: coral;
}
#nav-bar {
  float: right;
  margin-top: 30px;
}
#nav-bar li{
  display: inline;
  padding-right: 20px;
}
#nav-bar ul {
  padding: 0;
  margin: 0;
}
@media(max-width:700px)
{
  #logo, #nav-bar{
      float: none;
      text-align: center;
      width: 100%;
  }
  #nav-bar {
      margin-bottom: 10px;
  }
}
body {
  height: 100vh;
  background: #151515;
  color: #444;
  overflow:hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
span {
  color: #0f0;
}
h1, h2 {
  color: #aaa;
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media(max-width: 768px) {
  .logo,
  .nav-bar,
  .nav-bar li {
      float none;
      text-align: center;
      width: 100%;
  }

  header {
      padding-bottom: 20px;
  }
  